footer {
  position: relative;
  padding: 6rem 2rem 2.4rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/images/book-trace-background.png) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: -1;
  }

  & div {
    width: 100%;

    & .logo {
      padding-bottom: 0.75rem;
      border-bottom: solid 1px var(--shape-stroke);

      & img {
        display: block;
        margin: auto;
        height: 2.5rem;
      }
    }

    & .social {
      padding-top: 0.75rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & svg {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.5rem;
        border-radius: 100%;
        transition: background-color 300ms linear;

        path {
          fill: var(--blue-base);
        }

        &:hover {
          background-color: var(--shape-stroke);

          path {
            fill: var(--text-body);
          }
        }
      }
    }
  }

  .even-columns {
    justify-content: space-between;
    gap: 1.25rem;

    ul {
      width: 50%;

      & .title {
        margin-bottom: 1.25rem;
        font: var(--title-xs);
      }

      li {
        a {
          font: var(--link);
          color: var(--blue-base);

          &:hover {
            color: var(--text-body);
          }
        }
      }
    }
  }
}

@media (min-width: 80em) {
  footer {
    height: 415px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2.5rem;

    &::before {
      content: " ";
      top: 0;
      left: 0;
      background: url(../assets/images/book-trace-background.png) no-repeat;
      background-size: cover;
      background-position: none;
      object-fit: contain;
      z-index: -1;
    }

    & div {
      width: 16.5rem;

      & .logo {
        & img {
          height: auto;
          width: 100%;
        }
      }
    }

    .even-columns {
      width: 20rem;
      gap: 3.5rem;
    }
  }
}
