.monthKit {
  height: 631px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 6.5rem;

  & header {
    & div {
      justify-content: center;
      align-items: center;
      column-gap: 0.75rem;
      margin-bottom: 0.5rem;

      h2 {
        font: var(--title-3sm);
      }

      img {
        height: 1.25rem;
        width: 1.25rem;
        filter: drop-shadow(0 0 1rem var(--pink-base));
      }
    }

    & p {
      text-align: center;
    }
  }

  .monthBook {
    height: 20rem;
    width: 300px;
    position: relative;

    & img,
    & span,
    &::before {
      position: absolute;
    }

    & img {
      &[src*="book01"] {
        height: 13rem;
        width: 10rem;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
        z-index: 2;
      }

      &[src*="bookmark-purple"] {
        height: 11.25rem;
        width: 3.75rem;
        transform: rotate(22deg) translate(14.5rem, -1.5rem);
        z-index: 0;
      }

      &[src*="bookmark-yellow"] {
        height: 11.25rem;
        width: 3.75rem;
        transform: rotate(11deg) translate(12rem, -0.4rem);
        z-index: 1;
      }

      &[src*="pin"] {
        height: 5.4rem;
        width: 4.6rem;
        transform: rotate(-7.5deg) translate(-1.5rem, 13rem);
        z-index: 1;
      }

      &[src*="vector-book"] {
        height: 0.6rem;
        width: 3.8rem;
        transform: translate(0, 3rem);
        z-index: 3;
      }

      &[src*="vector-pin"] {
        height: 2.6rem;
        width: 2.25rem;
        transform: translate(-1rem, 11.5rem);
        z-index: 3;
      }

      &[src*="vector_book_mark"] {
        height: 3.12rem;
        width: 3rem;
        transform: translate(14rem, 14rem);
        z-index: 3;
      }
    }

    & span {
      font: var(--tag);
      z-index: 4;

      &:nth-child(8) {
        transform: translate(-1.5rem, 1.5rem);
      }

      &:nth-child(9) {
        transform: translate(-1.75rem, 10rem);
      }

      &:nth-child(10) {
        transform: translate(11rem, 17.5rem);
      }
    }

    &::before {
      content: " ";
      width: 17rem;
      height: 17rem;
      background-color: var(--pink-low);
      filter: blur(120px);
    }
  }
}

@media (max-width: 20em) {
  .monthKit {
    align-items: normal;

    & header {
      & div {
        h2 {
          font: var(--title-xs);
        }
      }
    }

    .monthBook {
      width: 100%;

      & img {
        &[src*="book01"] {
          transform: translate(-50%, -50%);
        }

        &[src*="bookmark-purple"] {
          transform: rotate(20deg) translate(13rem, -0.5rem);
        }

        &[src*="bookmark-yellow"] {
          transform: rotate(11deg) translate(10.2rem, -0.4rem);
        }

        &[src*="vector_book_mark"] {
          transform: translate(13rem, 14rem);
        }
      }

      & span {
        &:nth-child(10) {
          transform: translate(9.5rem, 17.5rem);
        }
      }
    }
  }
}

@media (min-width: 80em) {
  .monthKit {
    height: 1586px;
    gap: 5rem;
    margin-block: 0;
    padding-block: 14rem;

    & header {
      & div {
        column-gap: 1rem;
        margin-bottom: 0.25rem;

        h2 {
          font: var(--title-sm);
        }

        img {
          height: 2rem;
          width: 2rem;
        }
      }

      & p {
        font: var(--body-md);
      }
    }

    .monthBook {
      max-width: 1440px;
      height: 940px;
      width: 52rem;

      & img,
      & span {
        transition: transform 1s ease-in-out;
      }

      & img {
        &[src*="book01"] {
          height: 38.5rem;
          width: 29rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
        }

        &[src*="bookmark-purple"] {
          height: 33.5rem;
          width: 10.75rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &[src*="bookmark-yellow"] {
          height: 33.5rem;
          width: 10.75rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &[src*="pin"] {
          height: 16rem;
          width: 14rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &[src*="vector-book"] {
          height: 1.8rem;
          width: 10rem;
          top: 22%;
          left: 40%;
          transform: translate(-50%, -50%);
        }

        &[src*="vector-pin"] {
          height: 8rem;
          width: 6.25rem;
          z-index: 3;
          top: 50%;
          left: 35%;
          transform: translate(-50%, -50%);
        }

        &[src*="vector_book_mark"] {
          height: 9.5rem;
          width: 9rem;
          top: 70%;
          left: 65%;
          transform: translate(-50%, -50%);
        }
      }

      & span {
        font: var(--body-md);

        &:nth-child(8) {
          top: 20%;
          left: 40%;
          transform: translate(-50%, -50%);
        }

        &:nth-child(9) {
          top: 50%;
          left: 35%;
          transform: translate(-50%, -50%);
        }

        &:nth-child(10) {
          top: 75%;
          left: 60%;
          transform: translate(-50%, -50%);
        }
      }

      &::before {
        width: 100%;
        height: 100%;
        filter: blur(300px);
      }

      &:hover {
        & img,
        & span {
          transition: transform 1s ease-in-out;
        }

        & img {
          &[src*="bookmark-purple"] {
            transform: rotate(22deg) translate(85%, -65%);
          }

          &[src*="bookmark-yellow"] {
            transform: rotate(12deg) translate(50%, -80%);
          }

          &[src*="pin"] {
            transform: rotate(-7.5deg) translate(-170%, 30%);
          }

          &[src*="vector-book"] {
            transform: translate(-170%, -220%);
          }

          &[src*="vector-pin"] {
            transform: translate(-280%, 35%);
          }

          &[src*="vector_book_mark"] {
            transform: translate(80%, 20%);
          }
        }

        & span {
          &:nth-child(8) {
            transform: translate(-225%, -350%);
          }

          &:nth-child(9) {
            transform: translate(-250%, 35%);
          }

          &:nth-child(10) {
            transform: translate(45%, 600%);
          }
        }
      }
    }
  }
}
