section.signatures {
  height: 712px;

  & h2 {
    text-align: center;
    font: var(--title-2xsm);
  }

  & .boxCards {
    gap: 1rem;
    z-index: 1;

    overflow: auto hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    & .card {
      height: 27rem;
      width: 17rem;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0;

      padding: 2rem 2rem 2rem 1.75rem;
      margin-top: 3rem;

      background-color: var(--shape-base);
      border-radius: 1rem;
      border: solid 1px var(--shape-stroke);

      header {
        & .plan {
          font: var(--title-xs);
          color: var(--blue-light);
        }

        & h3 {
          margin-top: 1.25rem;
          font: var(--title-md);

          & small {
            font: var(--title-xs);
          }
        }

        & .priceYear {
          font: var(--body-sm);
          color: var(--text-label);
        }
      }

      & div.details {
        flex-direction: column;
        gap: 1.5rem;

        & ul {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;

          li {
            font: var(--body-xs);

            & svg {
              height: 0.75rem;
              width: 0.75rem;
              filter: drop-shadow(0 0 0.75rem var(--blue-base));

              & path {
                fill: var(--blue-base);
              }
            }
          }
        }
      }

      &:hover {
        background-color: var(--shape-hover);
        filter: drop-shadow(0 0 4rem var(--blue-baseblur));
      }
    }

    & .card:nth-child(2) {
      position: relative;

      header {
        & .plan {
          color: var(--pink-light);
        }

        & .popular {
          position: absolute;
          top: 2rem;
          right: 1.5rem;
          padding: 0.5rem 1.25rem;
          background-color: var(--shape-stroke);
          font: var(--tag);
          border-radius: 1rem;
        }
      }

      & div.details {
        & ul {
          li {
            & svg {
              filter: drop-shadow(0 0 0.75rem var(--pink-base));

              & path {
                fill: var(--pink-base);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 20em) {
  section.signatures {
    & h2 {
      text-align: center;
      font: var(--title-xs);
    }
  }
}

@media (min-width: 80em) {
  section.signatures {
    height: 1234px;
    padding-block: 194px 300px;

    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: inherit;
      border-radius: 100%;
      filter: blur(568px);
      background-color: var(--shape-base);
      z-index: -1;
    }

    & h2 {
      font: var(--title-sm);
      margin-bottom: 3.5rem;
    }

    & .boxCards {
      position: relative;
      height: 620px;
      align-items: center;
      justify-content: center;
      gap: 0;
      z-index: 1;
      overflow: hidden;

      & .card {
        position: relative;
        height: 26rem;
        width: 18rem;
        transition: transform 0.8s ease;


        .figure {
          position: absolute;
          svg{
            transition: rotate 0.8s ease;
          }
        }

        &:hover {
          transform: translateY(-10px);
          z-index: 2;
        }
      }

      & .card:nth-child(1) {
        rotate: -8deg;

        & .figure {
          top: -6%;
          left: -10%;
          rotate: -50deg;

          & svg {
            rotate: -50deg;
          }

          & svg:nth-child(1) {
            height: 13px;
            width: 13px;
          }

          & svg:nth-child(2) {
            height: 26px;
            width: 26px;
          }
        }
      }

      & .card:nth-child(2) {
        bottom: 10%;
        z-index: 1;

        header {
          & .plan {
            color: var(--pink-light);
          }
        }

        & .figure {
          top: 0;
          transform: translateY(-90%);

          & svg {
            height: 45px;
            width: 50px;
          }
        }
      }

      & .card:nth-child(3) {
        rotate: 8deg;

        & .figure {
          bottom: -8%;
          right: -10%;
          rotate: -10deg;

          & svg {
            rotate: -50deg;
          }

          & svg:nth-child(1) {
            height: 13px;
            width: 13px;
          }

          & svg:nth-child(2) {
            height: 26px;
            width: 26px;
          }
        }
      }

      & .card:nth-child(1),
      & .card:nth-child(3) {
        &:hover {
          .figure {
            svg {
              rotate: 10deg;
            }
          }
        }
      }
    }
  }
}
